package CONFIG;

use constant HTTP_TIMEOUT      => 300;
use constant HTTP_RETRYCOUNT   => 3;
use constant HTTP_THRESHOLD    => 150;
use constant DEBUG             => 1;
use constant REMOVE_NEWLINE    => 1;

use constant USERAGENT         => '';#'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A';



1;